<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin-left: 35%">
    <div style="width: 50%">
        <h1>Student Detail</h1>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Thông tin chi tiết sinh viên ' + ${student.rollNumber}"></h4>
                <p class="card-text" th:text="${student.name}"></p>
                <p class="card-text" th:text="${student.rollNumber}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>