<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Hero form</h1>

<form th:action="@{/students/create}" th:method="post" th:object="${student}">
    <div>
        Name <input type="text" th:field="*{name}">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        Email <input type="text" th:field="*{email}">
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <div>
        Password <input type="text" th:field="*{password}">
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div>
        RollNumber <input type="text" th:field="*{rollnumber}">
        <span class="error" th:if="${#fields.hasErrors('rollnumber')}" th:errors="*{rollnumber}"></span>
    </div>
    <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>
</body>
</html>